<div class="p-6 font-work">
  <h1 class="text-2xl font-bold mb-4">Shop</h1>

  <div class="mb-6 flex flex-wrap gap-3">
    <select
      class="rounded-3xl font-size: text-[var(--font-size-sm)]  fw-[var(--font-weight-medium)]; font-family: var(--font-family-work) border border-gray-300 bg-surface text-primary font-medium px-2 py-2 transition-colors duration-200 outline-none"
      [(ngModel)]="selectedSort"
    >
      <option value="default">Sort by</option>
      <option value="low">Price: Low to High</option>
      <option value="high">Price: High to Low</option>
    </select>

    <select
      class="rounded-3xl   font-family: var(--font-family-work) border border-gray-300 bg-surface text-primary font-medium px-2 py-2 transition-colors duration-200 outline-none"
      [(ngModel)]="selectedSize"
    >
      <option value="all">Size</option>
      <option value="S">Small</option>
      <option value="M">Medium</option>
      <option value="L">Large</option>
      <option value="One Size">One Size</option>
    </select>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    @for(product of filteredProducts; track product.name){
      <app-shop-card
     
     [product]="product"
   ></app-shop-card> 
    }
  </div>
</div>
