<div class="container mx-auto px-xs py-sm">
    <h1 class="text-3xl font-bold mb-xl mt-lg">Products</h1>

    @if(error()){
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">{{error()}}</div>
    }
    @if(isLoading()) {
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @for (item of [1,2,3,4,5,6,7,8]; track $index) {
        <app-card-skeleton></app-card-skeleton>
        }
    </div>

    }@else {

    <div class="flex gap-x-xs mb-lg">
        <app-selectfilter [options]="categoryOptions" [defaultValue]="'all'" [label]="'Category'"
        [(selectedValue)]="selectedCategory" (selectedValueChange)="onCategoryChange($event)">
    </app-selectfilter>

    <app-selectfilter [options]="priceOptions" [defaultValue]="'all'" [label]="'Price Range'"
        [(selectedValue)]="selectedPriceRange" (selectedValueChange)="onPriceRangeChange($event)">
    </app-selectfilter>

    <app-selectfilter [options]="ratingOptions" [defaultValue]="'all'" [label]="'Minimum Rating'"
        [(selectedValue)]="selectedMinRating" (selectedValueChange)="onMinRatingChange($event)">
    </app-selectfilter>

    <app-selectfilter [options]="sortOptions" [defaultValue]="'default'" [label]="'Sort By'"
        [(selectedValue)]="selectedSort" (selectedValueChange)="onSortChange($event)">
    </app-selectfilter>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @for (product of (products | categoryFilter:selectedCategory
        | priceFilter:selectedPriceRange
        | ratingFilter:selectedMinRating
        | sortFilter:selectedSort ); track product.id) {
        <app-product-card [product]="product"></app-product-card>
        }
    </div>
    }
</div>