<div class="flex h-screen max-w-[1480px] m-auto">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content Area -->
  <div class="flex-1 flex flex-col">
    <!-- Header -->

    <app-header></app-header>
    <app-shop></app-shop>
    <!-- <app-header (searchQueryChange)="onSearchQueryChange($event)"></app-header>
    <app-shop [searchQuery]="searchQuery"></app-shop> -->

    <!-- Page Content -->
    <main class="flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
