<aside class="w-64 min-h-screen bg-[var(--color-bg)] px-[var(--spacing-p-x-xl)] py-[var(--spacing-p-y-md)]  font-[var(--font-family-work)] text-[var( --font-size-sm)] text-[var(--color-text-primary)]">
  <h1 class="mb-[var(--spacing-gap-lg)] leading-[var(--line-height-xl)   font-[var(--font-weight-medium)] text-[var(--font-size-2xl)]">
    Fashion Hub
  </h1>

  <nav class="flex flex-col gap-[var(--spacing-gap-sm)]">
    <!-- Home -->
    <a href="#" class="flex items-center gap-[var(--spacing-gap-sm)] py-[var(--spacing-p-y-sm)] px-[var(--spacing-p-x-sm)] font-[var(--font-weight-medium)] rounded-full hover:bg-[var(--color-surface)]">
      <app-home-icon class="mr-2" />
      <span>Home</span>
    </a>

    <!-- Shop (Active) -->
    <a href="#" class="flex items-center gap-[var(--spacing-gap-sm)] py-[var(--spacing-p-y-sm)] px-[var(--spacing-p-x-sm)] font-[var(--font-weight-medium)] rounded-full hover:bg-[var(--color-surface)]">
      <app-shop-icon class="mr-2" />
      <span>Shop</span>
    </a>

    <!-- About -->
    <a href="#" class="flex items-center gap-[var(--spacing-gap-sm)] py-[var(--spacing-p-y-sm)] px-[var(--spacing-p-x-sm)] font-[var(--font-weight-medium)] rounded-full hover:bg-[var(--color-surface)]">
      <app-about-icon class="mr-2" />
      <span>About</span>
    </a>

    <!-- Contact -->
    <a href="#" class="flex items-center gap-[var(--spacing-gap-sm)] py-[var(--spacing-p-y-sm)] px-[var(--spacing-p-x-sm)] font-[var(--font-weight-medium)] rounded-full hover:bg-[var(--color-surface)]">
     <app-contact-icon class="mr-2" />
      <span>Contact</span>
    </a>

    <!-- Blog -->
    <a href="#" class="flex items-center gap-[var(--spacing-gap-sm)] py-[var(--spacing-p-y-sm)] px-[var(--spacing-p-x-sm)] font-[var(--font-weight-medium)] rounded-full hover:bg-[var(--color-surface)]">
     <app-blog-icon class="mr-2" />
      <span>Blog</span>
    </a>
  </nav>
</aside>
