 <button
      class="h-10 w-10 p-0 bg-transparent border border-gray-300 rounded-md hover:bg-gray-50 transition-colors flex items-center justify-center"
      aria-label="Profile"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 text-gray-500 mx-auto"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5.121 17.804A3 3 0 016 17h12a3 3 0 011.879.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"
        />
      </svg>
    </button>